/.idea
nbproject
.buildpath
.project
.settings
.DS_Store

/src/vendor
/src/composer.phar
/src/composer.lock
/src/phpunit.phar
/src/phpunit.xml
/src/.vagrant

/src/config/db.php
/src/tests/_output/*
/src/tests/_support/_generated

/src/logs
/src/public_html/uploads
/src/runtime

/src/public/index.php
/src/public/assets

# DB
/build/dev/mysql/storage
/build/dev/redis/storage
/build/test/mysql/storage
/build/test/redis/storage

.env